<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">  -->
<input type="text" class="form-control" [(ngModel)]="serverName">


<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" [disabled]="!alloNewServer" (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="alloNewServer"></p> -->
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>
<!--<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>-->

<app-server *ngFor="let s of servers"></app-server>
