<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent</h3>
            <hr>
           <!-- <div class="app-servers"></div>-->
           <!-- <app-warning-alert></app-warning-alert> -->
           <app-success-alert></app-success-alert> <hr>
           <app-servers></app-servers>
        </div>
    </div>
</div>

