<p>
  success-alert works!
</p>
<h3>This is assignment 2</h3>
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<p>{{username}}</p>
<button class="btn btn-primary" [disabled]="username === ''" (click)="onClickUser()">Reset</button>
<h3>This is assignment 3</h3>
<button class="btn btn-primary" (click)="toggleBtn($event)">Display Details'</button>                                             
<p>Secret Password = tuna</p>
<ul><li *ngFor="let click of clickLog;let i = index" [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"  [ngClass]="{colorClass: i >= 5}">{{i}}</li></ul>